.appartment-info_container {
    width: 50%;
}

.appartment-info h2{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 0;
}

.appartment-info p{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.appartments-tag ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
}

.appartments-tag li{
    min-width: 115px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 0;
    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 5px;
    background-color: #FF6060;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
}

@media only screen and (max-width: 945px) {
    .appartments-tag li {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    /* mobile */
    .appartments-tag li {
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
        min-width: 74px;
        padding: 0 5px 0 5px;
    }

    .appartment-info h2 {
        font-size: 18px;
    }
    
    .appartment-info p {
        margin-top: 5px;
        font-size: 14px;
    }
}



