/* footer.css */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
    height: 209px;
  }
  
  .footer-logo {
    width: 122px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
    margin-top: 100px; /* Ajustez la marge pour centrer le logo verticalement */
    margin-bottom: 24px; /* Ajustez la marge pour centrer le logo verticalement */
  }
  
  .footer-text {
    text-align: center;
    font-size: 24px;
    color: white;
  }
  