.header-container-wrapper {
    margin: 0% auto;
    width: 90%;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav{
        display: flex;
        justify-content: flex-end;
}

.header nav a:focus {
    text-decoration-line: underline;
} 

.header-container nav a { 
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding-left: 50px;
}

