.header-container-wrapper {
    margin: 0% auto; /* Pour centrer le wrapper par rapport à la page */
    width: 1240px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav{
        display: flex;
        justify-content: flex-end;
}

.header nav a:focus {
    text-decoration-line: underline;
} 

.header-container nav a { 
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding-left: 50px;
}





@media screen and (max-width: 767px) {
    .header {
        margin: 40px 100px 49px 100px;
    }
}

